
.reader-den{
  background-image: url("./assests/bg4.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  height: 650px;
  width: 100%;
}
.btn{
  margin-left: 80px;
  margin-top: 30%;
}
.total-readers{
  background-color: azure;
}